.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-link.active {
    text-shadow: 0 0 3px black, 0 0 5px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.White {
  background-color: white;
  color: black;
}

.Dark {
  background-color: #212121;
  color: white;
}

.headline {
  padding-top: 9%;
  margin-bottom: 10px;
}

.about {
  margin-top: 2%;
}
@media (max-width: 768px){
  .headline {
    padding-top: 40%;
  }
  .about {
    margin-top: 25%;
  }
}